body{
    width: 1080px;
}

header{
    background-color:#4ea0ff ;
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: 40% cover;
    background-repeat: repeat-x;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #b1e5f2
}    

th{
    background-color: #20a9e5;
    color: #fff;
    padding: 10px;
}    

#text{
    color: #808080;
}

.lorem-ipsum-dolor{
    color: #fff;
    position: absolute;
    top: 1290px;
    left: 16px;
}

#lorem-ipsum-dolor{
    color: #fff;
    position: absolute;
    top: 1290px;
    left: 332px;
}

