body{
    width: 1080px;
}

header{
    background-color:#4ea0ff ;
    background-image: url("../img/pattern.png");
    background-size: 100px cover;
    background-repeat: repeat-x;
    height: 100px;
}


#text{
    color: #808080;
}