body{
    width: 1080px;
}

header{
    background-color:#4ea0ff;
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: 35%;
    background-repeat: repeat-x;
}

.booleaner-logo{
    background-image: url("../img/logo.svg");
    margin-top: 40px;
    height: 50px;
    margin-left: 5px;

}

.author{
    color: lightgrey;
    font-size: 18px;;
}
.author-name{
    color: #20a9e5;
}

ul{
    padding: 17px ;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #4ea0ff;
}    

th{
    background-color: #20a9e5;
    color: #fff;
    padding: 10px;
}    

#text{
    color: #808080;
}

.lorem-ipsum-dolor{
    color: #fff;
    position: absolute;
    top: 1320px;
    left: 16px;
}

#lorem-ipsum-dolor{
    color: #fff;
    position: absolute;
    top: 1320px;
    left: 332px;
}

